{% include "vistas/header.html" %}
<!-- Fin de Encabezado/Navegación -->

<!-- Inicio de la Sección Principal -->
<div class="hero">
	<div class="container">
		<div class="row justify-content-between">
			<div class="col-lg-5">
				<div class="intro-excerpt">
					<h1>Carrito</h1>
				</div>
			</div>
			<div class="col-lg-7">
				
			</div>
		</div>
	</div>
</div>
<!-- Fin de la Sección Principal -->

<div class="untree_co-section before-footer-section">
	<div class="container">
		<div class="row mb-5">
			<form class="col-md-12" method="post">
				<div class="site-blocks-table">
					<table class="table">
						<thead>
							<tr>
								<th class="product-thumbnail">Imagen</th>
								<th class="product-name">Producto</th>
								<th class="product-price">Precio</th>
								<th class="product-quantity">Cantidad</th>
								<th class="product-total">Total</th>
								<th class="product-remove">Eliminar</th>
							</tr>
						</thead>
						<tbody>
							{% for item in items %}
							<tr>
								<td class="product-thumbnail">
									<img src="{{ url_for('static', filename='images/' + item.producto.imagen_url) }}" alt="Imagen" class="img-fluid">
								</td>
								<td class="product-name">
									<h2 class="h5 text-black">{{ item.producto.nombre }}</h2>
								</td>
								<td class="product-price" data-price="{{ item.producto.precio }}">${{ "%.2f"|format(item.producto.precio) }}</td>
								<td>
									<div class="input-group mb-3 d-flex align-items-center quantity-container" style="max-width: 120px;">
										<div class="input-group-prepend">
											<button class="btn btn-outline-black decrease" type="button" data-id="{{ item.id }}">−</button>
										</div>
										<input type="text" class="form-control text-center quantity-amount" value="{{ item.cantidad }}">
										<div class="input-group-append">
											<button class="btn btn-outline-black increase" type="button" data-id="{{ item.id }}">+</button>
										</div>
									</div>
								</td>
								<td class="product-total">${{ "%.2f"|format(item.producto.precio * item.cantidad) }}</td>
								<td>
									<a href="{{ url_for('remove_from_cart', item_id=item.id) }}" class="btn btn-black btn-sm">X</a>
								</td>
							</tr>
							{% endfor %}
						</tbody>
					</table>
				</div>
			</form>
		</div>

		<div class="row">
			<div class="col-md-6">
				<div class="row mb-5">
					<div class="col-md-6 mb-3 mb-md-0">
						<button class="btn btn-black btn-sm btn-block">Actualizar Carrito</button>
					</div>
					<div class="col-md-6">
						<a href="{{ url_for('shop') }}"><button class="btn btn-outline-black btn-sm btn-block">Seguir Comprando</button></a>
					</div>
				</div>
				<div class="row">
					<div class="col-md-12">
						<label class="text-black h4" for="coupon">Cupón</label>
						<p>Ingresa tu código de cupón si tienes uno.</p>
					</div>
					<div class="col-md-8 mb-3 mb-md-0">
						<input type="text" class="form-control py-3" id="coupon" placeholder="Código del cupón">
					</div>
					<div class="col-md-4">
						<button class="btn btn-black">Aplicar Cupón</button>
					</div>
				</div>
			</div>
			<div class="col-md-6 pl-5">
				<div class="row justify-content-end">
					<div class="col-md-7">
						<div class="row">
							<div class="col-md-12 text-right border-bottom mb-5">
								<h3 class="text-black h4 text-uppercase">Totales del Carrito</h3>
							</div>
						</div>
						<div class="row mb-3">
							<div class="col-md-6">
								<span class="text-black">Subtotal</span>
							</div>
							<div class="col-md-6 text-right">
								<strong class="text-black" id="subtotal-general">${{ '%.2f'|format(total_cart_price) }}</strong>
							</div>
						</div>
						<div class="row mb-5">
							<div class="col-md-6">
								<span class="text-black">Total</span>
							</div>
							<div class="col-md-6 text-right">
								<strong class="text-black" id="total-general">${{ '%.2f'|format(total_cart_price) }}</strong>
							</div>
						</div>

						<div class="row">
							<div class="col-md-12">
								<a href="{{ url_for('checkout') }}" class="btn btn-black btn-lg py-3 btn-block">Proceder al Pago</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<!-- Inicio de Pie de Página -->
{% include "vistas/bottom.html" %}
