<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="author" content="Untree.co">
  <link rel="shortcut icon" href="favicon.png">

  <meta name="description" content="" />
  <meta name="keywords" content="bootstrap, bootstrap4" />

		<!-- Bootstrap CSS -->
		<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.6/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4Q6Gf2aSP4eDXB8Miphtr37CMZZQ5oXLH2yaXMJ2w8e2ZtHTl7GptT4jmndRuHDT" crossorigin="anonymous">
		<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" rel="stylesheet">
		<link rel="stylesheet" href="{{ url_for('static', filename='css/tiny-slider.css') }}">
		<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
		<title>A-space Store</title>
	</head>

	<body>

		<!-- Start Header/Navigation -->
		<nav class="custom-navbar navbar navbar navbar-expand-md navbar-dark bg-dark" arial-label="Furni navigation bar">

			<div class="container">
				<a class="navbar-brand" href="index.html">A-space<span>.</span></a>

				<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarsFurni" aria-controls="navbarsFurni" aria-expanded="false" aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"></span>
				</button>

				<div class="collapse navbar-collapse" id="navbarsFurni">
					<ul class="custom-navbar-nav navbar-nav ms-auto mb-2 mb-md-0">
						<li class="nav-item active">
							<a class="nav-link" href="{{ url_for('index') }}">Home</a>
						</li>
						<li><a class="nav-link" href="{{ url_for('shop') }}">Shop</a></li>
						<li><a class="nav-link" href="{{ url_for('about') }}">About us</a></li>
						<li><a class="nav-link" href="{{ url_for('contact') }}">Contact us</a></li>
					</ul>

					<ul class="custom-navbar-cta navbar-nav mb-2 mb-md-0 ms-5">
						{% if current_user.is_authenticated %}
						<li class="nav-item dropdown">
							<a class="nav-link dropdown-toggle d-flex align-items-center" href="#" id="userDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
								<img src="{{ url_for('static', filename='images/user.svg') }}" alt="User" style="width: 24px; height: 24px; margin-right: 5px;">
								<span>{{ current_user.username }}</span>
							</a>
							<ul class="dropdown-menu dropdown-menu-end" aria-labelledby="userDropdown">
								<li><a class="dropdown-item" href="{{ url_for('profile') }}">Perfil</a></li>
								<li><a class="dropdown-item" href="{{ url_for('purchases') }}">Compras</a></li>
								<li><a class="dropdown-item" href="{{ url_for('orders') }}">Pedidos</a></li>
								{% if current_user.is_admin %}
								<li><hr class="dropdown-divider"></li>
								<li><a class="dropdown-item" href="{{ url_for('admin/admin_panel') }}">Panel admin</a></li>
								{% endif %}
								<li><hr class="dropdown-divider"></li>
								<li><a class="dropdown-item" href="{{ url_for('logout') }}">Cerrar sesión</a></li>
							</ul>
						</li>
						{% else %}
						<li><a class="nav-link" href="{{ url_for('login') }}"><img src="{{ url_for('static', filename='images/user.svg') }}"></a></li>
						{% endif %}
						
						<li><a class="nav-link" href="{{ url_for('cart') }}"><img src="{{ url_for('static', filename='images/cart.svg') }}"></a></li>
					</ul>
				</div>
			</div>
				
		</nav>
		<!-- End Header/Navigation -->
        <!-- Start Header/tableorders -->
        <div class="main-body">
			<div class="row">
				<div class="col-lg-4">
					<div class="card">
						<div class="card-body">
							<div class="d-flex flex-column align-items-center text-center">
                                <img src="https://bootdey.com/img/Content/avatar/avatar6.png" alt="Admin" class="rounded-circle p-1 bg-primary" width="110">
                                <div class="mt-3">
                                    <h4>{{ usuario.username }}</h4>
                                    <p class="text-secondary mb-1">{{ usuario.rol }}</p>
                                </div>
                            </div>

							<hr class="my-4">
							<ul class="list-group list-group-flush">
								<li class="list-group-item d-flex justify-content-between align-items-center flex-wrap">
									<h6 class="mb-0">Usuario</h6>
									<span class="text-secondary">{{ usuario.username }}</span>
								</li>
								<li class="list-group-item d-flex justify-content-between align-items-center flex-wrap">
									<h6 class="mb-0">Nombre</h6>
									<span class="text-secondary">{{ usuario.nombre }} {{ usuario.apellido }}</span>
								</li>
								<li class="list-group-item d-flex justify-content-between align-items-center flex-wrap">
									<h6 class="mb-0">Direccion</h6>
									<span class="text-secondary">{{ direccion.direccion }}, {{ direccion.colonia }},{{ direccion.codigo_postal }}
                                        {{ direccion.ciudad }}, {{ direccion.estado }}, {{ direccion.pais }}</span>
								</li>
							</ul>
						</div>
					</div>
				</div>
				<div class="col-lg-8">
                    <form method="POST" action="{{ url_for('update_profile') }}">

                        <div class="card mb-3">
                        <div class="card-body">
                            <div class="row mb-3">
                            <div class="col-sm-3">
                                <h6 class="mb-0">Usuario</h6>
                            </div>
                            <div class="col-sm-9 text-secondary">
                                <input type="text" class="form-control" name="username" value="{{ current_user.username }}">
                            </div>
                            </div>
                            <div class="row mb-3">
                            <div class="col-sm-3">
                                <h6 class="mb-0">Nombre</h6>
                            </div>
                            <div class="col-sm-9 text-secondary">
                                <input type="text" class="form-control" name="nombre" value="{{ current_user.nombre }}">
                            </div>
                            </div>
                            <div class="row mb-3">
                            <div class="col-sm-3">
                                <h6 class="mb-0">Apellido</h6>
                            </div>
                            <div class="col-sm-9 text-secondary">
                                <input type="text" class="form-control" name="apellido" value="{{ current_user.apellido }}">
                            </div>
                            </div>
                            <div class="row mb-3">
                            <div class="col-sm-3">
                                <h6 class="mb-0">Correo</h6>
                            </div>
                            <div class="col-sm-9 text-secondary">
                                <input type="email" class="form-control" name="email" value="{{ current_user.email }}">
                            </div>
                            </div>
                            <div class="row">
                            <div class="col-sm-3"></div>
                            <div class="col-sm-9 text-secondary">
                                <button type="submit" class="btn btn-primary px-4">Guardar Cambios</button>
                            </div>
                            </div>
                        </div>
                        </div>
                    </form>
                        <!-- Segunda tarjeta con dirección -->
                    <form method="POST" action="{{ url_for('update_profile_adress') }}">
                        <div class="card">
                        <div class="card-body">
                            <div class="row mb-3">
                            <div class="col-sm-3">
                                <h6 class="mb-0">Dirección</h6>
                            </div>
                            <div class="col-sm-9 text-secondary">
                                <input type="text" class="form-control" name="direccion" value="{{ direccion.direccion }}">
                            </div>
                            </div>
                            <div class="row mb-3">
                            <div class="col-sm-3">
                                <h6 class="mb-0">Ciudad</h6>
                            </div>
                            <div class="col-sm-9 text-secondary">
                                <input type="text" class="form-control" name="city" value="{{ direccion.ciudad }}">
                            </div>
                            </div>
                            <div class="row mb-3">
                            <div class="col-sm-3">
                                <h6 class="mb-0">País</h6>
                            </div>
                            <div class="col-sm-9 text-secondary">
                                <input type="text" class="form-control" name="country" value="{{ direccion.pais }}">
                            </div>
                            </div>
                            <div class="row mb-3">
                            <div class="col-sm-3">
                                <h6 class="mb-0">Código Postal</h6>
                            </div>
                            <div class="col-sm-9 text-secondary">
                                <input type="text" class="form-control" name="postal_code" value="{{ direccion.codigo_postal }}">
                            </div>
                            </div>
                            <div class="row mb-3">
                            <div class="col-sm-3">
                                <h6 class="mb-0">Teléfono</h6>
                            </div>
                            <div class="col-sm-9 text-secondary">
                                <input type="text" class="form-control" name="phone" value="{{ direccion.telefono }}">
                            </div>
                            </div>
                            <div class="row">
                            <div class="col-sm-3"></div>
                            <div class="col-sm-9 text-secondary">
                                <button type="submit" class="btn btn-primary px-4">Guardar Cambios</button>
                            </div>
                            </div>
                        </div>
                        </div>
                    </form>
                </div>
			</div>
		</div>
            
        </div>

        <!-- End Header/Table orders -->

        <!-- Start Footer Section -->
		<footer class="footer-section">
			<div class="container relative">

				<div class="row g-5 mb-5">
					<div class="col-lg-4">
						<div class="mb-4 footer-logo-wrap"><a href="#" class="footer-logo">A-space<span>.</span></a></div>
						<p class="mb-4">Donec facilisis quam ut purus rutrum lobortis. Donec vitae odio quis nisl dapibus malesuada. Nullam ac aliquet velit. Aliquam vulputate velit imperdiet dolor tempor tristique. Pellentesque habitant</p>

						<ul class="list-unstyled custom-social">
							<li><a href="#"><span class="fa fa-brands fa-facebook-f"></span></a></li>
							<li><a href="#"><span class="fa fa-brands fa-twitter"></span></a></li>
							<li><a href="#"><span class="fa fa-brands fa-instagram"></span></a></li>
							<li><a href="#"><span class="fa fa-brands fa-linkedin"></span></a></li>
						</ul>
					</div>

					<div class="col-lg-8">
						<div class="row links-wrap">
							<div class="col-6 col-sm-6 col-md-3">
								<ul class="list-unstyled">
									<li><a href="#">About us</a></li>
									<li><a href="#">Services</a></li>
									<li><a href="#">Blog</a></li>
									<li><a href="#">Contact us</a></li>
								</ul>
							</div>

							<div class="col-6 col-sm-6 col-md-3">
								<ul class="list-unstyled">
									<li><a href="#">Support</a></li>
									<li><a href="#">Knowledge base</a></li>
									<li><a href="#">Live chat</a></li>
								</ul>
							</div>

							<div class="col-6 col-sm-6 col-md-3">
								<ul class="list-unstyled">
									<li><a href="#">Jobs</a></li>
									<li><a href="#">Our team</a></li>
									<li><a href="#">Leadership</a></li>
									<li><a href="#">Privacy Policy</a></li>
								</ul>
							</div>

							<div class="col-6 col-sm-6 col-md-3">
								<ul class="list-unstyled">
									<li><a href="#">Nordic Chair</a></li>
									<li><a href="#">Kruzo Aero</a></li>
									<li><a href="#">Ergonomic Chair</a></li>
								</ul>
							</div>
						</div>
					</div>

				</div>

				<div class="border-top copyright">
					<div class="row pt-4">
						<div class="col-lg-6">
							<p class="mb-2 text-center text-lg-start">Copyright &copy;<script>document.write(new Date().getFullYear());</script>. All Rights Reserved. &mdash; Designed with love by <a href="https://untree.co">Untree.co</a> Distributed By <a hreff="https://themewagon.com">ThemeWagon</a>  <!-- License information: https://untree.co/license/ --></p>
						</div>

						<div class="col-lg-6 text-center text-lg-end">
							<ul class="list-unstyled d-inline-flex ms-auto">
								<li class="me-4"><a href="#">Terms &amp; Conditions</a></li>
								<li><a href="#">Privacy Policy</a></li>
							</ul>
						</div>

					</div>
				</div>

			</div>
		</footer>
		<!-- End Footer Section -->	


		<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.6/dist/js/bootstrap.bundle.min.js" integrity="sha384-j1CDi7MgGQ12Z7Qab0qlWQ/Qqz24Gc6BM0thvEMVjHnfYGF0rmFCozFSxQBxwHKO" crossorigin="anonymous"></script>
		<script src="{{ url_for('static', filename='js/tiny-slider.js') }}"></script>
		<script src="{{ url_for('static', filename='js/custom.js') }}"></script>
		<script src="{{ url_for('static', filename='js/zones-api.js') }}"></script>
		<script>
			// Setup validación de dirección en el formulario del perfil
			const formDireccionPerfil = document.querySelector('form[action*="/direccion"]');
			if (formDireccionPerfil) {
				formDireccionPerfil.addEventListener('submit', validarDireccionAntesDeSend);
			}
		</script>
	</body>

</html>


